*.iml
.gradle
/local.properties
.idea/
.DS_Store
/app/build
/build
/captures
.externalNativeBuild

# Gradle wrapper - DO NOT IGNORE
!gradle/wrapper/gradle-wrapper.jar
!gradle/wrapper/gradle-wrapper.properties
